<!doctype html>
<html>

<head>
    <!-- CSS -->
    <title>AndImg - Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" text="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.9/photobox/photobox.css'>
    <link rel="stylesheet" text="text/css" href='css/style.css'>

    <!-- Script -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/photobox/1.9.9/photobox/jquery.photobox.min.js"></script>
</head>

<body class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand" href="">ᗩᑎᗪ IᗰG</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class='container'>
        <div class="gallery">
            <div class="row text-center text-lg-left">
                <repeat group="{{ @images }}" value="{{ @image }}"></repeat>
                <div class="col-lg-3 col-md-4 col-6">
                    <a href="{{ @image.path }}" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="{{ @image.thumbmail_path }}">
                    </a>
                </div>
                </repeat>
            </div>
        </div>
    </div>

    <script type='text/javascript'>
        $(document).ready(function(){
          $('.gallery').photobox('a',{ time:0 });
        });
    </script>
        
</body>